# This is the configuration file for Ghostty.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.
#
# Ghostty can reload the configuration while running by using the menu
# options or the bound key (default: Command + Shift + comma on macOS and
# Control + Shift + comma on other platforms). Not all config options can be
# reloaded while running; some only apply to new windows and others may require
# a full restart to take effect.

#theme = "Monokai Pro"
#theme = "Monokai Soda"
#theme = "Monokai Remastered"
theme = "Catppuccin Mocha"

keybind = ctrl+b>-=new_split:down
keybind = ctrl+b>shift+\=new_split:right
keybind = ctrl+b>/=start_search
keybind = ctrl+shift+arrow_left=goto_split:left
keybind = ctrl+shift+arrow_right=goto_split:right
keybind = ctrl+shift+arrow_up=goto_split:up
keybind = ctrl+shift+arrow_down=goto_split:down

font-family = "Fira Mono for Powerline"
#font-family = "FiraMono Nerd Font"
#font-family = "MesloLGS NF"
font-size = 11.0

window-show-tab-bar = always

gtk-single-instance = detect
gtk-titlebar-style = tabs
gtk-tabs-location = top
gtk-wide-tabs = false
gtk-toolbar-style = flat

window-height = 28
window-width = 90
window-padding-x = 0
window-padding-y = 0
window-padding-balance = true
window-step-resize = true
window-decoration = server

resize-overlay = never

unfocused-split-opacity = 1

shell-integration = detect
shell-integration-features = cursor,sudo,title,ssh-env

scrollback-limit = 10000000

linux-cgroup = single-instance
linux-cgroup-memory-limit = 2147483648
linux-cgroup-processes-limit = 1000

clipboard-read = ask
clipboard-write = allow
clipboard-paste-protection = true
copy-on-select = true

title-report = false

async-backend = epoll
