# This is the configuration file for Ghostty.
#
# This template file has been automatically created at the following
# path since Ghostty couldn't find any existing config files on your system:
#
#   /home/longsleep/.config/ghostty/config
#
# The template does not set any default options, since Ghostty ships
# with sensible defaults for all options. Users should only need to set
# options that they want to change from the default.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.
#
# Ghostty can reload the configuration while running by using the menu
# options or the bound key (default: Command + Shift + comma on macOS and
# Control + Shift + comma on other platforms). Not all config options can be
# reloaded while running; some only apply to new windows and others may require
# a full restart to take effect.

# Config syntax crash course
# ==========================
# # The config file consists of simple key-value pairs,
# # separated by equals signs.
# font-family = Iosevka
# window-padding-x = 2
#
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Any line beginning with a # is a comment. It's not possible to put
# # a comment after a config option, since it would be interpreted as a
# # part of the value. For example, this will have a value of "#123abc":
# background = #123abc
#
# # Empty values are used to reset config keys to default.
# key =
#
# # Some config options have unique syntaxes for their value,
# # which is explained in the docs for that config option.
# # Just for example:
# resize-overlay-duration = 4s 200ms

theme = "Monokai Pro"

keybind = ctrl+b>-=new_split:down
keybind = ctrl+b>shift+\=new_split:right
keybind = ctrl+shift+arrow_left=goto_split:left
keybind = ctrl+shift+arrow_right=goto_split:right
keybind = ctrl+shift+arrow_up=goto_split:up
keybind = ctrl+shift+arrow_down=goto_split:down

font-family = "Fira Mono for Powerline"
#font-family = "MesloLGS NF"
font-size = 11.0

window-show-tab-bar = always
gtk-titlebar-style = tabs
gtk-tabs-location = top
gtk-wide-tabs = false
gtk-toolbar-style = flat

window-height = 28
window-width = 90
window-padding-x = 0
window-padding-y = 0
window-padding-balance = true
window-step-resize = true

resize-overlay = never

unfocused-split-opacity = 1

shell-integration-features = ssh-env
